* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

.header {
    width: 100%;
    background: #0059ff;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-container {
    padding: 25px;
}

.card-wrapper {
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(0,0,0);
}

.card-wrapper h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    height: 130px;
    background: #e7eafe;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}