body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  margin-top: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0px 0;
  
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    padding: 20px;
    text-align: left;
}
main {
  flex: 1;
  margin-bottom:300px;
}

footer {
  text-align: center;
  padding: 10px 0;
}