body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex-direction: column; 
    display: flex;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0px 0;
  
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 

  margin-bottom: 300px;
}

figure {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px 0;
}
